/* background dojo */
/* changement mot de passe */
#changePasswordPanel_underlay {
	background-color: black;
}

/* activation stream */
#enablingStreamPanel_underlay {
	background-color: black;
}

/* suppression utilisateur */
#deleteUserPanel_underlay {
	background-color: black;
}

/* modification droits utilisateur */
#modifyUserRightsPanel_underlay {
	background-color: black;
}

/* suppression visiteur vip */
#deleteVIPVisitorPanel_underlay {
	background-color: black;
}

/* édition note visiteur vip */
#noteEditingPanel_underlay {
	background-color: black;
}

/* panel attente */
#waitingPanel_underlay {
	background-color: black;
}